@import "tailwindcss";

@theme inline {
  /* color palette */
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-background-muted: #252424;
  --color-foreground-muted: #514e4e;

  --color-link-from: #f7b8b8;
  --color-link-to: #fefefe;
  --color-link: linear-gradient(to right, var(--color-link-from), var(--color-link-to));
  --color-link-hover: #00ffcc;

  /* darker shades */
  --color-green-dark: #16321f;
  --color-red-dark: #541419;
  --color-yellow-dark: #8c7e0b;
  --color-blue-dark: #16214a;
  --color-purple-dark: #2c1542;
  --color-orange-dark: #8c470b;

  /* fonts */
  --font-main: var(--font-helvetica-neue-light);
  --font-title: var(--font-helvetica-neue-bold);

  --font-link: var(--font-helvetica-neue-thin);
  --font-tag: var(--font-helvetica-neue-thin-italic);
  --font-accent: var(--font-nothing);

  --font-mono: var(--font-jetbrains-mono);
  --font-mono-bold: var(--font-jetbrains-mono-bold);
}

@layer components {
  .card {
    @apply bg-background text-foreground rounded-3xl border-[2px] border-foreground;
  }

  .btn {
    @apply bg-clip-text text-transparent transition-colors duration-700;
    background-image: var(--color-link);
  }

  .bg-accent {
    background-color: var(--color-accent) !important;
  }

  .btn:hover {
    @apply text-link-hover;
  }

  /* links */
  .nav-link {
    @apply bg-clip-text text-transparent transition-colors duration-700 no-underline;
    background-image: var(--color-link);
  }

  .nav-link:hover {
    @apply text-link-hover;
    transform: translateX(3px);
  }

  .link {
    @apply text-white underline transition-all duration-300;
  }

  .link:hover {
    @apply text-link-hover !no-underline;
  }

  /* custom font  */
  .title {
    @apply font-title tracking-[-0.1em] bg-[url('/fontTexture/whiteFabric.png')] bg-cover bg-center bg-clip-text text-transparent;
  }

  .custom-font-nothing {
    @apply font-accent opacity-70 tracking-[-0.07em];
  }

  .custom-font-outline {
    @apply font-title text-transparent tracking-[-0.15em];
    -webkit-text-stroke: 1px var(--color-foreground);
  }
}

body {
  @apply bg-background text-foreground font-main;
}
